html {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.react-resizable-handle-se {
  bottom: -25px !important;
  right: -25px !important;
  background-color: red !important;
  z-index: 99999 !important;
}

.resizable-inactive .react-resizable-handle-se {
  display: none !important;
  background-color: transparent !important;
}

body {
  background-color: #f7f7f7;
  margin: 0 !important;
  padding: 0 !important;
}

.box {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 480px;
  margin: auto;
}

.header {
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
  margin-bottom: 2rem;
}

.drop-file-input {
  border: 2px dashed #bbbbbb;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}

.drop-file-input:hover {
  border-color: #777777;
}

.drop-file-input-icon {
  font-size: 4rem;
  color: #777777;
  margin-bottom: 1rem;
}

.upload-button {
  background-color: #0066ff;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.upload-button:hover {
  background-color: #0056e0;
}

@media (max-width: 768px) {
  .box {
    width: 90%;
    padding: 1rem;
  }

  .drop-file-input {
    padding: 1rem;
  }

  .upload-button {
    padding: 0.75rem 1.5rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400;1,500;1,700&family=Gaegu:wght@300;400;700&family=Waiting+for+the+Sunrise&display=swap");
body {
  font-family: "Waiting for the Sunrise";
}

.page {
  background-color: #f5deb3;
  font-family: "Gaegu", sans-serif;
  color: #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #c6c6c6;
  font-size: 300%;
  position: relative;
  overflow: hidden;
}

.page-content {
  padding: 40px;
  line-height: 1.5;
}

.page::before,
.page::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.page::before {
  opacity: 0.5;
}

.page::after {
  opacity: 0.3;
}

.page:after {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), inset 0 0 5px rgba(0, 0, 0, 0.5),
    inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.react-pageflip .page {
  transition: transform 0.4s ease-in-out;
}

.react-pageflip .page-shadow {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.page-flip-animation {
  animation: customFlip 1s forwards;
}

@keyframes customFlip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
